<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src= "/scripts/app.js" defer></script>
  </head>
  <body>
    <div id="map"></div>


      <nav> <!--nav bar-->
        <h2>Disaster Artists</h2>
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="navButtons">
            <a href="" class="homeButton"><h3>Login</h3></a>
            <a href="" class="faqButton"><h3>Profile</h3></a>
            <a href="" class="panicButton"><h3>Logout</h3></a>
        </div>
        <div class="miniNav">
          <a href="" class="homeButton"><h3>Login</h3></a>
          <a href="" class="faqButton"><h3>Profile</h3></a>
          <a href="" class="panicButton"><h3>Logout</h3></a>
        </div>
      </nav>

      <!-- Posting Form -->
<div id="postModal" class="modal">
  <div class="modalContent">
    <span class="close">&times;</span>
    <form id="postForm">
      <h1>Send a message</h1>
      <input type="text" name="title" placeholder="title" pattern=".{1,}"   required title="1 characters minimum">
      <button type="submit" name="submit" id="postSubmit">submit</button>
    </form>
  </div>
</div>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg">
    </script>
  </body>
</html>